.agregar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/add34.jpg);
    background-size: 50%;
    background-attachment: fixed;
    min-height: 100vh;

}

.agregar-h1 {
    margin: 0;
}

.agregar-form {
    width: 910px;
    height: 98vh;
    background: black;
    border: 2px solid #ff0303;
    border-radius: 10px;
    box-shadow: 2px 2px 25px #ff0303 inset;

    color: #e8e8e8;
}

.agregar-div {
    margin-top: 15px;
}

.agregar-descripcion {
    margin-bottom: 30px;
}

.agregar-input {
    width: 350px;
    border: 2px solid #ff0303;
    color: black;
}

.agregar-input:focus {
    border: 3px solid #ff0303;
    box-shadow: 2px 2px 25px #ff0303;
    outline: none;
}

.agregar-label {
    width: 200px;
    display: inline-block;
}

textarea {
    resize: none;
}

.agregar-btn {
    padding: 10px;
    margin-top: 18px;
    background: rgb(204, 7, 7);
    font-weight: bold;
    font-size: large;
}

.agregar-btn:hover {
    cursor: pointer;
    border: 2px solid white;
    color: white;
}

.agregar-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-left: 10px;
    font-style: italic;
}

.agregar-span {
    font-size: 13px;
}

.danger {
    color: red;
    margin: 0;
    font-size: 12px;
    margin-left: 60px;
}

.btn-del {
    background: #000;
    color: red;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-left: 1px;
}

button:disabled{
    background: grey;
}