.btn-page{
    margin: 0 12px;  
    padding: 6px 4px;  
    cursor: pointer;
    background: black;
    border: 2px solid #fdff00;
    border-radius: 10px;
    display: inline;        
    
}

.btn-page:hover {
    color: #fdff00;
    box-shadow: 2px 2px 5px #fdff00 inset;
  }

.page-link{
    text-decoration: none;
    color: white;   
}

.page-link:hover{
    color: #fdff00;
}