/* .card{
    border: 1px solid black;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: 2px 2px 5px gray;
} */

img{
    border-radius: 50%;
}

.card {
    width: 300px;
    height: 400px;
    background: black;
    border: 2px solid #07ff07;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #000000;
    text-align: center;
    color: #e8e8e8;    
    font-family: 'Pacifico';
  }
  
  .card:hover {
    color: #07ff07;
    box-shadow: 2px 2px 15px #07ff07 inset;
  }