label{
    margin: 0 7px;
}

.select {
    background: black;
    border: 2px solid #fdff00;
    color: white;      
    display: inline-flex;
}

option{
    background: black;
    color: white;
    border: none;
    border: 5px solid black;
}

.filter{
    padding: 5px 20px;
}